<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>React Map</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="leaflet/leaflet.css" />
</head>
<body>

  {{{body}}}

  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>