* {
  .box-sizing(border-box);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; // for some Androids
}

html, button, input, textarea, select {
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  font-size: 62.5%;

  body {
    height: 100%;
    font-size: 1.4rem;
  }
}

#react-app {
  height: 100%;

  #brick-iss {
    height: 100%;

    .mapView {
      height: 60%;
    }

    .infoPanel {
      width: 100%;
      margin: 0 auto;
      padding: 1rem;

      .info {
        padding-bottom: 1rem;
      }
    }
  }
}